<div id="sidebar" class="sidebar flex-shrink-0 p-3">
  <h4 class="text-light">WatchOUT</h4>
  <a href="/" class="nav-link <%= pageName === 'pm2-services' ? 'active' : '' %>">PM2 Services</a>
  <a href="/page1" class="nav-link <%= pageName === 'server-stats' ? 'active' : '' %>">Stats</a>
</div>